# Compiled class file
*.class

# Log file
*.log
*.log.*

# Package Files
# .jar, .war, .ear, etc.
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Gradle
.gradle/
/build/

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle-properties
hs_err_pid*
replay_pid*

# Operating System Files
.DS_Store
Thumbs.db
